body {
        font-family:  sans-serif;
        text-align: center;
		background-size:cover
        }
.ecran {
        background-color: #FFFFFF;
        height:flex;
        width:  95%;
	position: fixed;
	top:4%;
        right: 3%;
	left: 3%;
	bottom:5%;
        border-radius: 4px;
        }
.resultatfin {
        background-color: #FFFFFF;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        padding-bottom: 15px;
        border-radius: 5px;
}
.valide {
        position: absolute;
        bottom: 9%;
        right: 45.5%;
}

button {
                background-color: #FFFFFF;
                color: #E68A2E;
                
                font-family: sans-serif;
                font-size: 20px;
                
                padding: 7.5px;
                    padding-left: 22px;
                    padding-right: 22px;
                
                border: 1px solid #E68A2E;
                border-radius: 15px;
            }
#retour, #retour2, #retour3 {
                font-size: 12px;
                
            }
.grosbouton  {
        width: 50%;     
}
.pitibouton {
        background-color: #FFFFFF;
        color: #E68A2E;
        font-size: 13px;
        padding: 6px;
                padding-left: 5px;
                padding-right: 5px;
        width: 10%;
}
.pitibouton:focus {
        color: DarkOrchid ;
        border-color: DarkOrchid;
}
button:hover {
                background-color: #E6E6E6;
                cursor: pointer;
            }
           
 p  {
        font-family: Swiss 721 Std Bold;
        font-size: 15px;
}

h2 {
      font-family: Swiss 721 Std Bold;  
}

.melange {
        font-size: 20px;
        }

input[type=text] {
        text-transform: uppercase;
}

.resu {
        text-align: justify ;
}
#imgclick; {
        cursor: pointer;
}
.imgclick{
        cursor: pointer;
}
#radio {
        cursor: pointer;
}
table {
        margin: auto;
}
#imgA {
        height:flex;
        width:  17%;
        
}
#imgB {
        height:flex;
        width:  25%;
}
#imgR {
        height:flex;
        width:  20%;
}
#imgMap:hover {
        cursor: pointer;
}